In [7]:
print("HELLO")
print("WORLD")

HELLO
WORLD

In [3]:
x = 1
y = "SANDHRA"
z = True
var1 = 1.5
_num1 = 1+2j
print(x,y,z)
print(var1)
print(_num1)

1 SANDHRA True
1.5
(1+2j)

In [16]:
num1 = 5
num2 = 50
print(num1+num2)

55

In [17]:
num3 = num1+num2
print(num3)

55

In [18]:
print(num1,num2,num3)

5 50 55

In [20]:
x,y,z = 2,2.5,"hello"
print(x,y,z)

2 2.5 hello

In [21]:
x=y=z="hello"
print(x,y,z)

hello hello hello

In [8]:
# This is a  single comment
print("sandhra")

sandhra

In [5]:
x="""This is a comment
multi line comment
this is a comment
"""
print(x)

This is a comment
multi line comment
this is a comment

In [10]:
x=5
y="hello"
print(x,y)

5 hello

## function type

In [20]:
x=5
y="hello"
z=[1,2,3]
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'str'>
<class 'list'>

In [13]:
num_str="10"
print(type(num_str))

num_int =int(num_str) # num_int will be an integer 10
print(type(num_int))

<class 'str'>
<class 'int'>

In [18]:
num_str="10.5"
print(type(num_str))

num_float=float(num_str) # num_float will be a float 10.5
print(type(num_float))

<class 'str'>
<class 'float'>

In [17]:
my_list=[1,2,3]
print(type(my_list))

my_tuple=tuple(my_list) # my_tuple will be a (1,2,3)
print(type(my_tuple))

<class 'list'>
<class 'tuple'>

In [1]:
# user input
Name = input("Enter your name:")

print("Name: " + Name)

Enter your name:sandhra
Name: sandhra

In [3]:
x=input("Enter your first number: ")
y=input("Enter your second number: ")

print("The addition result is: " ,x+y)

Enter your first number: 11
Enter your second number: 12
The addition result is:  1112

In [5]:
x= float(input("Enter your first number: "))
y= int(input("Enter your second number: "))

print("The addition result is: " ,x+y)

Enter your first number: 1.0
Enter your second number: 2
The addition result is:  3.0

# String
### paragraph

In [7]:
a ="""sandhrakmanoj
kalluvettukuzhiyil
perinthalmanna"""
print(a)

sandhrakmanoj
kalluvettukuzhiyil
perinthalmanna

### Length

In [9]:
my_string ="Sandhra"
length = len(my_string)

print(length)

7

### String indexing

In [11]:
my_string ="Sandhra"
first_char = my_string[0]
print(first_char)

S

In [29]:
my_string ="sandhra manoj"
slice_char=my_string[8:13]
print(slice_char)

manoj

In [33]:
my_string ="sandhrak"
last_char=my_string[-1]
print(last_char)

k

In [25]:
my_string ="sandhra"
start_omitted_char=my_string[:6]
print(start_omitted_char)

sandhr

In [26]:
my_string ="sandhra"
end_omitted_char=my_string[2:]
print(end_omitted_char)

ndhra

In [27]:
my_string ="sandhra"
select_char=my_string[0:5:4]
print(select_char)

sh

In [36]:
my_string ="SANDHRA"
reverse_char=my_string[::-1]
print(reverse_char)

ARHDNAS

### Concat

In [37]:
x="sandhra"
y="manoj"
z=x+y
print(z)

sandhramanoj

In [39]:
x="sandhra"
y="manoj"
z=x+ " "+y
print(z)

sandhra manoj

In [43]:
z= x+" "+y+" "+('!'*10)
print(z)

sandhra manoj !!!!!!!!!!

### string methods

In [45]:
a= "sandhra"
print(a.upper()) # conerted uppercase

SANDHRA

In [46]:
a="SANDHRA"
print(a.lower()) # converted lowercase

sandhra

In [48]:
a="      sandhra     "
print(a.strip()) # removes white spacing(end nd start)

sandhra

In [49]:
alpha_check ="sandhra".isalpha()
print(alpha_check)

digit_check ="123".isdigit()
print(digit_check)

alnum_check ="sandhrakmanoj99".isalnum()
print(alnum_check)

True
True
True

In [51]:
string="apple,banana,orange"
fruits=string.split(",")
print(fruits)

joined_string="-".join(fruits)
print(joined_string)

['apple', 'banana', 'orange']
apple-banana-orange

In [52]:
mystring="hello world"
new_string=mystring.replace("hello","hi")
print(new_string)

hi world

### formating

In [55]:
name="SANDHRA"
age=24
formating_string="my name is %s and i am %d years old" %(name, age)
print(formating_string)

my name is SANDHRA and i am 24 years old

In [57]:
name="SANDHRA"
age=24
formating_string= f"my name is {name} and i am {age} years old"
print(formating_string)

my name is SANDHRA and i am 24 years old

In [58]:
name="SANDHRA"
age=24
formating_string="my name is {} and i am {} years old" .format(name, age)
print(formating_string)

my name is SANDHRA and i am 24 years old

In [63]:
pi= 3.141592653559
formatted_pi ="The pi value is: {:0.3f}".format(pi)
print(formatted_pi)

The pi value is: 3.142

## boolean

### Arithemetic operator

In [7]:
x=10
y=5

add= x+y
sub=x-y
mul=x*y
div=x/y
modulus=x%y
exponentiation = x**y
floor_division = x//y

print("add : ",add)
print("sub : ",sub)
print("mul : ",mul)
print("div : ",div)
print("modulus : ",modulus)
print("exponentiation : ",exponentiation)
print("floor_division : ",floor_division)

add :  15
sub :  5
mul :  50
div :  2.0
modulus :  0
exponentiation :  100000
floor_division :  2

In [3]:
x=["apple", "banana"]
y=["apple", "banana"]
z=x
print(x is z)
print(x is y)
print(x == y)
print(x is not z)
print(x is not y)
print(x != y)

True
False
True
False
True
False

### Membership operator

In [8]:
x=["apple", "banana"]
print("banana" in x)

True

In [9]:
x=["apple", "banana"]
print("pineapple" not in x)

True

## List

In [10]:
numbers=[1,2,3,4,5,6,7,8,9,10]
first_element=numbers[0]
second_element=numbers[1]
last_element=numbers[-1]

print(first_element)
print(second_element)
print(last_element)

1
2
10

In [11]:
print(numbers[2:5])

[3, 4, 5]

In [12]:
print(len(numbers))

10

### Adding element

In [13]:
fruits=["apple","banana"]
fruits.append("cherry")
print(fruits)

['apple', 'banana', 'cherry']

In [14]:
fruits.insert(1,"orange")
print(fruits)

['apple', 'orange', 'banana', 'cherry']

In [19]:
fruits=["apple","banana"]
more_fruits=["cherry", "grapes"]
fruits.extend(more_fruits)
print(fruits)

['apple', 'banana', 'cherry', 'grapes']

### Changing item value

In [20]:
fruits=["apple","banana","cherry","grapes"]
fruits[1]="melon"

print(fruits)

['apple', 'melon', 'cherry', 'grapes']

In [21]:
fruits[1:3]=["papaya", "kiwi"]
print(fruits)

['apple', 'papaya', 'kiwi', 'grapes']

### Remove

In [22]:
fruits=["apple","banana","cherry","banana"]
fruits.remove("banana")
print(fruits)

['apple', 'cherry', 'banana']

In [23]:
fruits=["apple","banana","cherry","mango"]
remove_fruit =fruits.pop()
print(fruits)

['apple', 'banana', 'cherry']

In [24]:
fruits=["apple","banana","cherry","mango"]
fruits.clear()
print(fruits)

[]

In [25]:
my_list=["apple","banana","cherry","mango"]
del my_list[0]
print(my_list)

['banana', 'cherry', 'mango']

### reversing

In [26]:
numbers=[1,2,3,4,5]
numbers.reverse()
print(numbers)

[5, 4, 3, 2, 1]

### sort

In [2]:
numbers=[1,2,3,6,5]
print(numbers)

[1, 2, 3, 6, 5]

In [5]:
numbers.sort(reverse = True)
print(numbers)

[6, 5, 3, 2, 1]

### nested list

In [47]:
nested_list=[[1,2,3],[4,5,6],[7,8,9]]
print(nested_list)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

### count

In [4]:
numbers=[1,2,3,4,5,2,2,3,4]
count=numbers.count(2)
print(count)

3

### max, min, sum

In [33]:
numbers =[1,2,3,4,5]
print(max(numbers))
print(min(numbers))
print(sum(numbers))

5
1
15

In [6]:
num=[1,2,3,4,5,6,7,8,9,10]
n=len(num)
a=num[0]
num[0]=num[n-1]
num[n-1]=a
print(num)

[10, 2, 3, 4, 5, 6, 7, 8, 9, 1]

## TUPLE

In [3]:
x = ("apple","banana","cherry")
y= list(x)
y[1]="kiwi"
x=tuple(y)
print(x)

('apple', 'kiwi', 'cherry')

### Add items

In [2]:
my_tuple=("apple","banana","cherry")
y=list(my_tuple)
y.append("orange")
my_tuple=tuple(y)

print(my_tuple)

('apple', 'banana', 'cherry', 'orange')

In [8]:
my_tuple=("apple","banana","cherry")
y=("orange",)
my_tuple+=y
print(my_tuple)

('apple', 'banana', 'cherry', 'orange')

### unpack

In [9]:
fruits=("apple","banana","cherry")
x,y,z=fruits
print(x)
print(y)
print(z)

apple
banana
cherry

In [12]:
fruits=("apple","banana","cherry""mango","kiwi","melon")
x,*y,z=fruits
print(x)
print(y)
print(z)

apple
['banana', 'cherrymango', 'kiwi']
melon

In [2]:
fruits=("apple","banana","cherry","mango","kiwi","melon")
x,y,*z,p=fruits
print(x)
print(y)
print(z)
print(p)

apple
banana
['cherry', 'mango', 'kiwi']
melon

## SET
### unique elements
 #### sets automatically eliminate duplicate.if you to add a duplicate elemenets.it won't be included in the set

In [13]:
numbers={1,2,3,2,1}
print(numbers)

{1, 2, 3}

In [16]:
numbers={1,2,3,4,5}
fruits={"apple","banana","cherry""mango","kiwi","melon"}
mixed={1,1.3,"apple",True}
print(numbers)
print(fruits)
print(mixed)

{1, 2, 3, 4, 5}
{'melon', 'banana', 'apple', 'kiwi', 'cherrymango'}
{1, 'apple', 1.3}

### add items

In [18]:
set1={"apple","banana","cherry"}
set1.add("orange")
print(set1)

{'cherry', 'apple', 'orange', 'banana'}

In [19]:
set1={"apple","banana","cherry"}
set2={"mango","kiwi","melon"}
set1.update(set2)
print(set1)

{'cherry', 'melon', 'mango', 'banana', 'apple', 'kiwi'}

### remove,clear,discard

In [20]:
remove={"apple","banana","cherry"}
remove.remove("banana")
print(remove)

{'cherry', 'apple'}

In [21]:
discard={"apple","banana","cherry"}
discard.discard("banana")
print(discard)

{'cherry', 'apple'}

In [22]:
set1={"apple","banana","cherry"}
x=set1.pop()
print(x)
print(set1)

cherry
{'apple', 'banana'}

In [23]:
set1={"apple","banana","cherry"}
set1.clear()
print(set1)

set()

### set operations

In [24]:
set1={1,2,3}
set2={4,5,6}
union_set=set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5, 6}

In [26]:
set1={1,2,3}
set2={3,4,5}
intersection_set=set1.intersection(set2)
print(intersection_set)

{3}

In [29]:
set1={1,2,3}
set2={3,4,5}
diff_set=set1.difference(set2)
print(diff_set)

{1, 2}

In [30]:
set1={1,2,3}
set2={3,4,5}
symmetric_diff_set=set1.symmetric_difference(set2)
print(symmetric_diff_set)

{1, 2, 4, 5}

## IF

In [3]:
a=208
b=209

if (b>a):
    print("b is greater than a")
    
print("condition checked")

b is greater than a
condition checked

In [4]:
a=208
b=209

if (b>a or b==a):
    print("b is greater than a")
    print("condition checked")

b is greater than a
condition checked

In [5]:
a=200
b=330
if b>a:
    print("b is greater than a")
else:
    print("a is greater than b")

b is greater than a

In [7]:
x=5
y="hello"
typ = type(y)

if typ==int:
    print("number")
else:
    print("string")

string

In [2]:
a=int(input("First number : "))
b=int(input("Second number : "))

if b>a:
    print("b is greater than a")
elif a>b:
    print("a is greater than b")
else:
    print("a and b are equal")

First number : 3
Second number : 3
a and b are equal

### short hand if,if-else

In [9]:
a=200
b=33
if a>b: print("a is greater than b")

a is greater than b

In [10]:
a=2
b=330
print("A") if a>b else print("B")

B

### nested if

In [11]:
x=41

if x > 10:
    print("Above ten, ")
    if x>20:
        print("and also above 20 ")
    else:
        print("but not above 20 ")
else:
    print("finished")

Above ten,
and also above 20

### The pass stmt
#### If statements cannot be empty ,but if you for some reason have an if stmt with no content, put in the pass stmt to avoid getting an error

In [12]:
a=33
b=220
print("stage 1")
if b>a:
    pass
print("stage 2")
print(b+2)
print("stage 3")

stage 1
stage 2
222
stage 3

In [ ]:
a=int(input("enter a number: "))
if a>=0:
    print("it is positive")
else:
    print("it is negative")

In [4]:
x=int(input("Enter your age: "))
y=int(input("Enter your age: "))
z=int(input("Enter your age: "))
if x>y and x>z:
    print("x is elder.")
elif x<y and x<z:
    print("x is younger")
else:
    print("x is youngest")
if y>x and y>z:
    print("y is elder.")
elif y<x and y<z:
    print("y is younger")
else:
    print("y is youngest")
if z>x and z>y:
    print("z is elder.")
elif z<y and x>z:
    print("z is younger")
else:
    print("z is youngest")

Enter your age: 54
Enter your age: 32
Enter your age: 11
x is elder.
y is youngest
z is younger

In [12]:
a=(input("Enter a alphabet: "))
if a=="a" or a=="e" or a=="i" or a=="o" or a=="u":
    print("it is vowels")
elif a=="A" or a=="E" or a=="I" or a=="O" or a=="U":
    print("it is vowels")
else:
    print("not a vowels")

Enter a alphabet: G
not a vowels

## while loop
 #### while condition:
 
      # body of while loop

In [8]:
i=1
n=5
while i<=n:
    print(i)
    i=i+1
    
print("finish")

1
2
3
4
5
finish

In [12]:
i=1
n=100
total=0
while i<=n:
    total=total+i
    i=i+1
print("total:", total)

total: 5050

In [13]:
num=int(input("Enter a number: "))
rev =0
while (num !=0):
    rem=num%10
    rev=rev*10+rem
    num=num//10
print("The reversed number is: ",rev)

Enter a number: 234
The reversed number is:  432

In [1]:
i=10
n=1
while i>=n:
    print(i)
    i=i-1
    
print("finish")

10
9
8
7
6
5
4
3
2
1
finish

### list

In [5]:
my_list=[2,5,3,8,1]
i=0
while i<len(my_list):
    print(my_list[i])
    i=i+1

2
5
3
8
1

In [6]:
my_list=[2,4,6,8,10]
i=0
list2=[]
while i<len(my_list):
    x=my_list[i]*my_list[i]
    list2.append(x)
    i=i+1
print(list2)

[4, 16, 36, 64, 100]

In [2]:
# program to calculate the sum of numbers
#until the user enters 0
total = 0
num=int(input("Enter a number: "))
# add numbers until num is 0
while num !=0:
    total+=num #total =total+number
    #take integer input again
    num=int(input("Enter a number: "))
print("total=",total)

Enter a number: 1
Enter a number: 2
Enter a number: 3
Enter a number: 4
Enter a number: 0
total= 10

In [12]:
# factorial 
num=int(input("Enter a number: "))
fac=1
i=1
while i<=num:
    fac=fac*i
    print(fac)
    i=i+1
print("factorial of ", num,"is",fac)

Enter a number: 5
1
2
6
24
120
factorial of  5 is 120

In [2]:
#break stmt
i=1
while i<6:
    print(i)
    if i==4:
        print(i*i)
        break
    i+=1

1
2
3
4
16

In [1]:
# continue stmt
i=0
while i<6:
    i+=1
    if i==3:
        continue
    print(i)

1
2
4
5
6

### for loop

In [3]:
for x in "banana":
    print(x)

b
a
n
a
n
a

In [5]:
fruits=["apple","banana","cherry"]
for x in fruits:
    #print(x)
    if x== "banana":
        break
    print(x)

apple

In [6]:
fruits=["apple","banana","cherry"]
for x in fruits:
    #print(x)
    if x== "banana":
        continue
    print(x)

apple
cherry

### range

In [9]:
for x in range(10):
    print(x)

0
1
2
3
4
5
6
7
8
9

In [7]:
for x in range(2,10):
    print(x)

2
3
4
5
6
7
8
9

In [8]:
for x in range(2,20,2):
    print(x)

2
4
6
8
10
12
14
16
18

### Nested loops

In [11]:
colors=["red","big","tasty"]
fruits=["apple","banana","cherry"]
for  x in colors:
    for y in fruits:
        print(x,y)
    print("------------------------")

red apple
red banana
red cherry
------------------------
big apple
big banana
big cherry
------------------------
tasty apple
tasty banana
tasty cherry
------------------------

In [12]:
# code to find the sum of squares od each element of the list using for loop
# creating the list of numbers
numbers=[3,4,23,5,2,65,7,2,1]
#initializing a variable that will store the sum
sum_num=0
# using for loop to iterate over the list
for num in numbers:
    sqr=num**2
    sum_num=sum_num+sqr
    #print(sqr)
print("The sum of squares is: ",sum_num)

The sum of squares is:  4862

In [1]:
# searches for prime numbers from 10 through 20.
for num in range(10,20):             # to iterate between 10 to 20
    for i in range(2,num):           # to iterate on the factors of the numbers
        if num%i==0:                 # to determine the first factor
            j=num/i                  # to calculate the second factor 
            # print("%d equals %d * %d" %(num,i,j))
            
            break  # to move to the next number,the #first FOR
    else:             # else part of the loop
        print(num,"It is a prime number")

11 It is a prime number
13 It is a prime number
17 It is a prime number
19 It is a prime number

In [17]:
n=7
for i in range(1,11):
    product=n*i
    print("%d x %d =%d "%(n,i,product))

7 x 1 =7
7 x 2 =14
7 x 3 =21
7 x 4 =28
7 x 5 =35
7 x 6 =42
7 x 7 =49
7 x 8 =56
7 x 9 =63
7 x 10 =70

In [18]:
# decide the row count.(above pattern contains 5 rows)
row = 5
# strat:1
#stop:row+1(range never include stop number in result)
# step: 1
# run loop 5 times
for i in range(1,row +1):
    for j in range(1,i+1): # Run inner loop i+1 times
        print(j, end=' ')
    print("")               #empty line after each row

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [21]:
n = 6
k = 6
for i in range(0,n+1):
    for j in range(k-i,0,-1):
        
        print(j, end=' ')
    print()

6 5 4 3 2 1
5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [22]:
n = 6
k = 6
for i in range(0,n+1):
    for j in range(k-i,0,-1):
        
        print(i, end=' ')
    print()

0 0 0 0 0 0
1 1 1 1 1
2 2 2 2
3 3 3
4 4
5

In [23]:
# single carriage return chracter,
# which will move the cursor back to the beginning of
# the current line without advancing to the next line.
row = 5
for i in range(0, row):
    for j in range (0,i+1):
        print("+", end=" ")
    print(" ")
    
for i in range(row, 0,-1):
    for j in range (0,i-1):
        print("+", end=" ")
    print(" ")

+
+ +
+ + +
+ + + +
+ + + + +
+ + + +
+ + +
+ +
+

### List comprehention

In [27]:
fruits=["apple","banana","cherry","kiwi","mango"]
newlist=[]
for x in fruits:
    if "a" in x:
        newlist.append(x)
print(newlist)

['apple', 'banana', 'mango']

In [34]:
newlist=[x for x in fruits if x!= "apple"]
print(newlist)

['banana', 'cherry', 'kiwi', 'mango']

In [26]:
fruits=["apple","banana","cherry","kiwi","mango"]
newlist=[x for x in fruits if "a" in x]
print(newlist)

['apple', 'banana', 'mango']

### The syntax 
#### newlist=[expression for item in iterable if condition==true]
#### The return value is a new list,leaving the old list unchanged

In [28]:
newlist=[x for x in fruits]
print(newlist)

['apple', 'banana', 'cherry', 'kiwi', 'mango']

In [30]:
newlist_=[x*x for x in range(10)]
print(newlist_)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [31]:
newlist__=[x.upper() for x in fruits]
print(newlist__)

['APPLE', 'BANANA', 'CHERRY', 'KIWI', 'MANGO']

In [35]:
for key,value in enumerate(["The","Big","Bang","Theory"]):
    print(key,value)

0 The
1 Big
2 Bang
3 Theory

### Using enumerate():
#### enumerate() is used to loop through the containers printing the intex number along with the value present in that particular index.

In [36]:
grocery=["bread","milk","butter"]
enumerategrocery=enumerate(grocery)

print(type(enumerategrocery))
# cinverting to list
print(list(enumerategrocery))

# changing the default counter
enumerategrocery=enumerate(grocery,10)
print(list(enumerategrocery))

<class 'enumerate'>
[(0, 'bread'), (1, 'milk'), (2, 'butter')]
[(10, 'bread'), (11, 'milk'), (12, 'butter')]

###  using zip()
#### zip() is used to combine 2 similar containers(list-list or dict-dict)printing the values sequentially. The loop exists only till the similar containers ends

In [5]:
# initializing list
question=["name","color","shape"]
answer=["apple","red","a circle"]
# using zip() to combine two containers
# end print values
for question, answer in zip(question, answer):
        print("What is your {0}? I am {1}.".format(question, answer))

What is your name? I am apple.
What is your color? I am red.
What is your shape? I am a circle.

### using sorted():
#### sorted() is used to print the containers in sorted order.it dosen't sort the container but just prints the container in sorted order for 1 instance.The use of set() can be combined to remove duplicate occurrences.

In [42]:
# initializing list
list_=[1,2,6,3,2,8,4,]
# using sorted() to print the list in sorted order
print("The list in sorted order is : ")
for i in sorted(list_):
    print(i, end=" ")
print("\r")

# using sorted() and set() to print the list in sorted order
# use of set() removes duplicates.
print("The list in sorted order (without duplicates) is : ")
for i in sorted(set(list_)):
    print(i, end=" ")

The list in sorted order is :
1 2 2 3 4 6 8
The list in sorted order (without duplicates) is :
1 2 3 4 6 8

### using reversed():
#### reversed() is used to print the values of the container in the reversed order. it does not reflect any changes to the oringinal list

In [1]:
# initializing list
list_=[1,3,5,7,3,1,2]

# using reversed() to print the list in reversed order
print("The list in reversed order is: ")
for i in reversed(list_):
    print(i, end=" ")

The list in reversed order is:
2 1 3 7 5 3 1

### Dictionary
#### dictionaries are used to store data values in key:value pairs.
#### A dictionary is collection which is orderd*, changeable and do not allow duplicates.

In [6]:
d={
    "brand": "ford",
    "model":"mustang",
    "year":[1943,2023]
}
print(d)

{'brand': 'ford', 'model': 'mustang', 'year': [1943, 2023]}

In [7]:
mydict={
     "brand": "ford",
    "model":"mustang",
    "year":1943,
    "year":1999
}
print(d)

{'brand': 'ford', 'model': 'mustang', 'year': [1943, 2023]}

### Accessing items
#### you can access the items of a dictionary by referring to its key name, inside square brackets

In [2]:
#get the value of the "model" key
mydict={
     "brand": "ford",
    "model":"mustang",
    "year":1943,
    "year":1999
}
x=mydict["model"]
print(x)

mustang

In [11]:
mydict={
     "brand": "ford",
    "model":"mustang",
    "year":1943,
    "year":1999
}
y=mydict.get("model")
print(y)

mustang

In [12]:
x=mydict.keys()
print(x)

y=mydict.values()
print(y)

z=mydict.items()
print(z)

dict_keys(['brand', 'model', 'year'])
dict_values(['ford', 'mustang', 1999])
dict_items([('brand', 'ford'), ('model', 'mustang'), ('year', 1999)])

### update

In [13]:
x={
    "brand": "ford",
    "model":"mustang",
    "year":1943
}
x.update({"year":2020})
print(x)

{'brand': 'ford', 'model': 'mustang', 'year': 2020}

### adding

In [14]:
x={
    "brand": "ford",
    "model":"mustang",
    "year":1943
}
x["color"]="red"
print(x)

{'brand': 'ford', 'model': 'mustang', 'year': 1943, 'color': 'red'}

### remove

In [15]:
x={
    "brand": "ford",
    "model":"mustang",
    "year":1943
}
x.pop("model")
print(x)

{'brand': 'ford', 'year': 1943}

In [16]:
x={
    "brand": "ford",
    "model":"mustang",
    "year":1943
}
x.popitem()
print(x)

{'brand': 'ford', 'model': 'mustang'}

In [17]:
x={
    "brand": "ford",
    "model":"mustang",
    "year":1943
}
x.clear()
print(x)

{}

In [24]:
x={
    "brand": "ford",
    "model":"mustang",
    "year":1943
}
del (x)

In [26]:
#print key
xdict={
    "brand": "ford",
    "model":"mustang",
    "year":1943
}

for i in xdict:
    print(i)

brand
model
year

In [27]:
#print values
xdict={
    "brand": "ford",
    "model":"mustang",
    "year":1943
}

for i in xdict:
    print(xdict[i])

ford
mustang
1943

In [1]:
dict1={
    "brand": "ford",
    "model":"mustang",
    "year":1943
}
for x in dict1.keys():
    print(x)

brand
model
year

### sorted

In [30]:
prices={
    'bread':3.2,
    'butter':5.0,
    'banana':0.12
}
for k in sorted(prices.keys()):
    print(k, '->',prices[k])

banana -> 0.12
bread -> 3.2
butter -> 5.0

### copy

In [2]:
dict2={
    "brand": "ford",
    "model":"mustang",
    "year":1943
}
mydict=dict2.copy()
print(mydict)

{'brand': 'ford', 'model': 'mustang', 'year': 1943}

### nested

In [6]:
myfamily={
    "child1" :{ "name":"sandhra",
                "year":1999},
    
    "child2" :{ "name":"sivani",
                "year":2011},
    
    "child3" :{ "name":"gopika",
                "year":2005}
}
print(myfamily)

{'child1': {'name': 'sandhra', 'year': 1999}, 'child2': {'name': 'sivani', 'year': 2011}, 'child3': {'name': 'gopika', 'year': 2005}}

### task

In [32]:
dict1={
    "a":1,
    "b":2,
    "c":3
}
dict2={
    "x":4,
    "y":5,
    "z":6
}
for i in dict1.keys(),dict2.values():
    print(i)

dict_keys(['a', 'b', 'c'])
dict_values([4, 5, 6])

In [33]:
dict1={
    "a":1,
    "b":2,
    "c":3
}
dict2={
    "x":4,
    "y":5,
    "z":6
}

for dict1, dict2 in zip(dict1, dict2.values()):
    print("{0} {1}".format(dict1, dict2))

a 4
b 5
c 6

## Files

## file.path
#### A path that specifies all folder starting from the root is an absolute path.
#### A path that specifies relative to the current working directory is a relative path

In [1]:
import os
cwd =os.getcwd() #store current working dir 
print(cwd) #print current working dir

D:\python\basics

In [60]:
os.chdir("D:\\painting") #change dir
print(os.getcwd()) # print current working dir

D:\painting

In [3]:
os.chdir(cwd) # change working dir back to original
print(os.getcwd())

D:\python\basics

In [4]:
print(os.getcwd())

D:\python\basics

In [17]:
os.makedirs("code\\python")

In [ ]:
os.chdir('code\\python')

In [19]:
print(os.getcwd())

D:\python\basics\code\python

In [22]:
os.chdir("..")
print(os.getcwd())

D:\python\basics\code

In [63]:
os.chdir("..")
print(os.getcwd())

D:\

In [66]:
os.removedirs("code\\python")

In [61]:
os.chdir("code\\python")

FileNotFoundError: [WinError 3] The system cannot find the path specified: 'code\\python'

## os.path
#### os.path.join() function can be used to generate file path that matches the current operating system

In [26]:
import os 
cwd=os.getcwd()
print(cwd)

D:\python\basics

In [27]:
path=os.path.join(cwd,"code","python")
print(path)

D:\python\basics\code\python

## listing directories

In [30]:
file=os.listdir(cwd)
for x in file:
    print(x)

.ipynb_checkpoints
Dictionary.ipynb
ex
for loop.ipynb
If condition.ipynb
list task.ipynb
program.ipynb
py
python code
set.ipynb
strings task.ipynb
try.py
tuple.ipynb
while loop.ipynb

### check for a specific file

In [35]:
file="py"
if os.path.exists("py"):
#if os.path.exists(file):
    print("file exists")
else:
    print("file does not exists")

file exists

### checking file or directory

In [37]:
path="py"
if os.path.isfile(path):
    print(" it is a file")
elif os.path.isdir(path):
    print("it is a directory")
else:
    print("neither ")

it is a directory

### creating files

In [43]:
file_name="newfile.txt"
f=open(file_name,"w")
f.write("new file created")
f.close()

In [16]:
with open("newfiles.txt","w") as sa:
    sa.write("sandhra\n")
    sa.write("manoj\n") 
    sa.write("\n")
    sa.write("SANDHRA\n")
    sa.write("MANOJ")         #'w'=write
                              #'a'=append
                              #'r'=read

### reading
##### there are three steps to reading files in python:
#### Call the open() function to receive a file object,
#### Call the read() method on the file object to receive file content.
#### Call the file by calling the close() method on the file object.

In [51]:
file_path=os.path.join("newfiles.txt")
f=open(file_path,"r") #open in read mode
items=f.read()
print(items)
f.close()

sandhramanojsandhramanoj

In [55]:
file_path=os.path.join("newfiles.txt")
f=open(file_path,"r")
items=f.readlines()
print(items) #print as a list
f.close()

['sandhramanojsandhramanoj']

In [2]:
file_path=os.path.join("newfiles.txt")
f=open(file_path,"r")
items=f.readlines()
for i in items: # use strip()to remove linebreak at the end of each line
    print(i.strip()) #print as a list
f.close()

NameError: name 'os' is not defined