### 1.max min

In [9]:
x=(1,2,3,4,5,6)
max_num=max(x)
print("max no is: " ,max_num)

min_num=min(x)
print("min no is: " ,min_num)

max no is:  6
min no is:  1

### 2.concatenate

In [2]:
tuple1 = (1, 2, 3)
tuple2 = ('a', 'b', 'c')

result = zip(tuple1, tuple2)
print(tuple(result))

((1, 'a'), (2, 'b'), (3, 'c'))

### 3.count

In [16]:
my_tuple=[1,2,3,4,5,2,3,4,1,2,4,5,2]
count=my_tuple.count(2)
print(count)

4

### 4.convrt in to dictionary

In [3]:
a=[("name",1),("age",2),("class",3)]
dic={}
for item in a:
    key,value=item
    dic[key]=value
print(dic)

{'name': 1, 'age': 2, 'class': 3}

### 5.slice

In [11]:
tuples=(1,2,3,4,5,6,7,8,9)
x=int(input("enter the slice size: "))
sub_tuples=[]
for i in range(0,len(tuples),x):
    sub_tuple=tuples[i:i+x]
    sub_tuples.append(sub_tuple)
print(sub_tuples)

enter the slice size: 2
[(1, 2), (3, 4), (5, 6), (7, 8), (9,)]

### 6. nested

In [3]:
nested_list=((1, 2, 3), (4, 5, 6), (7, 8, 9))
a=nested_list[2][0]

print(a)

7

### 7. remove element

In [27]:
my_tuple=("apple","banana","cherry")
y=list(my_tuple)
y.remove("apple")
my_tuple=tuple(y)

print(my_tuple)

('banana', 'cherry')

### 8.merge and remove duplicate

In [19]:
x=(1,3,5,7,9,10)
y=(1,2,4,6,8,10)
z=x+y
a=(set(z))
print(a)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

### 9.unpack

In [42]:
x=("apple","banana","cherry","mango","orange")
print(len(x))
a,*b,c=x
print(a)
print(b)
print(c)

5
apple
['banana', 'cherry', 'mango']
orange

### 10.index

In [21]:
tuples=(1,2,3,4,5,6,7,8,9,10)
x=int(input("Enter the element: "))
y=tuples.index(x)
print("The position of ",x, "is",y)

Enter the element: 5
The position of  5 is 4